<a href="https://colab.research.google.com/github/uccaoeo/Tutorials/blob/master/DataPreparationAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
filepaths = 'https://raw.githubusercontent.com/PacktWorkshops/\
The-Data-Science-Workshop/master/Chapter11/dataset/Speed_Dating_Data.csv'
df = pd.read_csv(filepaths)
df.head()

   iid   id  gender  idg  condtn  ...  attr5_3  sinc5_3  intel5_3  fun5_3  amb5_3
0    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
1    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
2    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
3    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
4    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN

[5 rows x 195 columns]

In [4]:
df.shape

(8378, 195)

In [5]:
df.duplicated().sum()

0

In [6]:
df.duplicated(subset=['iid', 'id','partner', 'pid'], keep=False).sum()

0

In [7]:
df.dtypes

iid           int64
id          float64
gender        int64
idg           int64
condtn        int64
             ...
attr5_3     float64
sinc5_3     float64
intel5_3    float64
fun5_3      float64
amb5_3      float64
Length: 195, dtype: object

In [8]:
df.head()

   iid   id  gender  idg  condtn  ...  attr5_3  sinc5_3  intel5_3  fun5_3  amb5_3
0    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
1    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
2    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
3    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
4    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN

[5 rows x 195 columns]

In [9]:

def checkrange(column, min_value, max_value):
  return (column < min_value) | (column > max_value)  #boolean result with True or False

unexpected = checkrange(df['imprace'], 1, 10)
unexpected.sum()

8

In [10]:
scale10 = ['imprace', 'imprelig', 'sports', \
              'tvsports', 'exercise', 'dining', \
              'museums', 'art', 'hiking', 'gaming', \
              'clubbing', 'reading', 'tv', 'theater', \
              'movies', 'concerts', 'music', \
              'shopping', 'yoga', 'exphappy', 'satis_2']

In [11]:
def print_unexpected(df, col_name, unexpected):
  if unexpected.sum() > 0:
    print(col_name)
    print(unexpected.sum())
    print(df.loc[unexpected, col_name].unique())

print_unexpected(df, 'imprace', unexpected)

imprace
8
[0.]

In [19]:
def checkranges(df, col_list, min_value, max_value):
  for col_name in col_list:
    unexpected_mask = checkrange(df[col_name], min_value, max_value)
    print_unexpected(df, col_name, unexpected_mask)

In [20]:
checkranges(df, scale10, 1, 10)

imprace
8
[0.]
museums
18
[0.]
art
18
[0.]
hiking
18
[0.]
gaming
59
[0.]
clubbing
18
[0.]
theater
18
[0.]
movies
18
[0.]
concerts
18
[0.]
yoga
36
[0.]

In [14]:
def replace_values(df, col_name, incorrect_value, correct_value):
  df.loc[df[col_name] == incorrect_value, col_name] = correct_value
  print(col_name)
  print(df[col_name].unique())
replace_values(df, 'gaming', 14, 10)

gaming
[ 1.  5.  4.  6.  2.  3.  7.  8. 10. nan  9.  0.]

In [15]:
replace_values(df, 'reading', 13, 10)

reading
[ 6. 10.  7.  9.  8.  4.  5. nan  2.  3.  1.]

In [26]:
for suffix in ['1_1', '1_2', '1_3', '1_s', '2_1','2_2', '2_3', '4_1', '4_2', '4_3','7_2', '7_3']:
    suffix_cols = [col for col in df.columns if col.endswith(suffix)]
    checkranges(df, suffix_cols, 0, 100)

In [27]:
for suffix in ['3_1', '3_2', '3_3', '5_1', '5_2', '5_3', '3_s']:
  suffix_coll = [col for col in df.columns if col.endswith(suffix)]
  checkranges(df, suffix_coll, 1, 10)

attr3_3
112
[12.]
sinc3_3
173
[12.]
intel3_3
233
[12.]
fun3_3
153
[12.]
amb3_3
147
[12.]

In [28]:
for col_name in ['attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3']:
  replace_values(df, col_name, 12, 10)

attr3_3
[ 5.  7. nan  6.  4.  9.  8.  3. 10.  2.]
sinc3_3
[ 7.  6. nan  5.  8.  9. 10.  4.  3.  2.]
intel3_3
[ 7.  9. nan  6. 10.  8.  5.  4.  3.]
fun3_3
[ 7.  9. nan  8.  6.  3.  5. 10.  2.  4.]
amb3_3
[ 7.  4. nan  5. 10.  9.  8.  6.  2.  3.  1.]

In [29]:
df.dtypes

iid           int64
id          float64
gender        int64
idg           int64
condtn        int64
             ...
attr5_3     float64
sinc5_3     float64
intel5_3    float64
fun5_3      float64
amb5_3      float64
Length: 195, dtype: object

In [34]:
#NUMERICAL COLUMNS
num_cols = ['round', 'order', 'int_corr', 'age','mn_sat', 'income', 'expnum']
cat_cols = df.columns.difference(num_cols)
for col_name in cat_cols:
  df[col_name] = df[col_name].astype('category')
df.dtypes

iid         category
id          category
gender      category
idg         category
condtn      category
              ...
attr5_3     category
sinc5_3     category
intel5_3    category
fun5_3      category
amb5_3      category
Length: 195, dtype: object

In [44]:
df[num_cols].isna().sum()

round          0
order          0
int_corr     158
age           95
mn_sat      5245
income      4099
expnum      6578
dtype: int64

In [45]:
df['int_corr'].unique()

array([ 0.14,  0.54,  0.16,  0.61,  0.21,  0.25,  0.34,  0.5 ,  0.28,
       -0.36,  0.29,  0.18,  0.1 , -0.21,  0.32,  0.73,  0.6 ,  0.07,
        0.11,  0.39, -0.24, -0.14,  0.09, -0.04, -0.3 , -0.26, -0.15,
       -0.47, -0.18,  0.05,  0.37,  0.35,  0.15, -0.19, -0.43,  0.  ,
       -0.17,  0.08, -0.16,  0.06, -0.05, -0.13, -0.06,  0.33, -0.51,
        0.12,  0.19,  0.47,  0.03,  0.46,  0.43,  0.52, -0.46, -0.27,
        0.59,  0.31, -0.34, -0.03, -0.11,  0.42, -0.4 , -0.23,  0.17,
        0.68, -0.01, -0.35,  0.3 ,  0.65,  0.24,  0.41,  0.49,  0.01,
        0.22, -0.08,  0.27,  0.44,  0.62, -0.2 , -0.02, -0.33, -0.52,
       -0.1 ,  0.58, -0.57, -0.31, -0.07, -0.32,  0.04, -0.12,  0.48,
       -0.22, -0.29,  0.38,  0.53, -0.38,  0.02, -0.28,  0.13,  0.2 ,
         nan, -0.41, -0.44,  0.51, -0.48,  0.4 ,  0.26,  0.77, -0.49,
       -0.25, -0.09,  0.45, -0.39,  0.83,  0.57, -0.61,  0.72, -0.37,
        0.23, -0.58,  0.8 , -0.56,  0.63, -0.63,  0.71,  0.36,  0.56,
        0.55,  0.76,  0.69,  0.79,  0.9 ,  0.67,  0.66,  0.81,  0.64,
        0.74,  0.75,  0.85, -0.42, -0.5 , -0.59,  0.7 ,  0.82,  0.78,
       -0.45, -0.83,  0.88, -0.7 , -0.62, -0.55,  0.87,  0.91,  0.84,
       -0.64, -0.73, -0.54])

In [47]:
df['int_corr'].fillna(df['int_corr'].mean(), inplace=True)
df['int_corr'].isna().sum()

0

In [48]:
missing_num_cols = ['age', 'mn_sat', 'income','expnum']
for col_name in missing_num_cols:
  print(col_name)
  print(df[col_name].unique())

age
[21. 24. 25. 23. 22. 26. 27. 30. 28. nan 29. 34. 35. 32. 39. 20. 19. 18.
 37. 33. 36. 31. 42. 38. 55.]
mn_sat
[  nan 1070. 1258. 1400. 1290. 1460. 1430. 1215. 1330. 1450. 1155. 1140.
 1360. 1402. 1250. 1210. 1220. 1410. 1260. 1380. 1030. 1309. 1308. 1050.
 1100. 1310. 1490. 1188. 1097. 1212. 1340. 1034. 1185. 1242. 1160. 1099.
 1214. 1270. 1110. 1178. 1060. 1157. 1180. 1014. 1341.  990. 1320. 1159.
 1370. 1105. 1365. 1011. 1130. 1206. 1331. 1191.  914. 1200. 1080. 1090.
 1092. 1470. 1149. 1134. 1230. 1267. 1280. 1227. 1239.]
income
[ 69487.  65929.     nan  37754.  86340.  60304.  54620.  48652.  29237.
  56580.  36782.  38548.  52010.  28418.  43185.  23152.  43664.  48441.
  61152.  36485.  41507.  17134.  30038.  33772.  24997.  42096.  28891.
  62635.  12063.  29809.  26482.  30147.  39919.  41466.  23988.  28989.
  50948.  38022.  47559.  53539.  32159.  53940.  40753.  38207.  46166.
  30973.  28317.  26645.  25589.  55223. 109031.  40409.  21597.  76624.
  35968.  51725.  55419.  55550.  26682.  41547.  23361.  74893.  52804.
  53923.  27094.  57213.  42390.  43636.  57887.  30768.  66699.  45360.
  55080.  17378.  40375.  48929.  78193.  63351.  50745.  29279.  38774.
  58802.  41831.  52186.  97857.  74624.  21590.  38832.  37248.  28240.
  53771.  56096.  31560.  52467.  80006.  47572.  22439.  31383.  40749.
  47997.  78704.  31143.  32129.  44195.  46837.  97972.  35960.  65708.
  49466.  53229.  32649.  35867.  40244.  42640.  52388.  62875.  30855.
  46800.  45695.  46792.  53501.  64716.  27248.  22805.  56118.  30146.
  39123.  46153.  45300.  42397.  44346.  42225.  37405.  28524.  61141.
   8607.  41476.  49841.  37240.  36594.  62997.  46608.  37881.  48944.
  77112.  18283.  31432.  73073.  26706.  50060.  25401.  80608.  43844.
  53196.  25786.  39394.  40695.  45788.  37315.  51663.  32563.  54303.
  16908.  39729.  57316.  30587.  57513.  31857.  23207.  25831.  28759.
  19264.  41778.  35963.  49409.  31516.  36223.  43367.  27503.  35187.
  26298.  31148.  55704.  46138.  66827.  42897.  31809.  75347.  47005.
  52805.  50725.  65693.  45736.  33906.  50501.  48785.  52318.  62844.
  52586.  29236.  31486.  31632. 106663.  84043.  35224.  36381.  65498.
  60000.  22669.  81266.  29746.  47556.  42651.  27794.  41737.  90225.
  52280.  56056.  60835.  62829.  16767.  42967.  21488.  89977.  18619.
  22161.  82734.  40163.  46185.  78844.  29575.  34752.  22173.  37994.
  35409.  23707.  57501.  25314.  48876.  34870.  35848.  45017.  12416.
  87789.  50572.  49642.  20000.  32508.  35627.  46280.  41191.  71787.
  72412.  36510.  32386.  15863.  46272.  48137.  61686.  47624.  36673.
  55138.]
expnum
[ 2.  5. 10.  3. 15. 20.  4.  9. 19.  0. nan  8. 12.  1.  7.  6. 18. 14.
 13.]

In [50]:
for missing_values in missing_num_cols:
  col_median = df[missing_values].median()
  df[missing_values].fillna(col_median, inplace=True)
  print(missing_values)
  print(col_median)

age
26.0
mn_sat
1310.0
income
43185.0
expnum
4.0

In [51]:
for missing_values in missing_num_cols:
  print(missing_values)
  print(df[missing_values].isna().sum())

age
0
mn_sat
0
income
0
expnum
0